.App {
  text-align: center;
  height:100%;
}

.App-container {
  height:100%;
  width:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header-container {
  height:30%;
}
.App-form-container {
  height:70%;
}

.App-form-industry {
  height:100%;
  background-image: url('../public/img/bg-industry.jpg');
  background-size: 100% auto;
}

.App-form-location {
  height:100%;
  background-image: url('../public/img/bg-location.jpg');
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
